[submodule "modules/zqlite"]
	path = references/zqlite
	url = https://github.com/karlseguin/zqlite.zig
[submodule "zig-sqlite"]
	path = references/zig-sqlite
	url = https://github.com/vrischmann/zig-sqlite
